/* Booking Section */
.booking {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: olivedrab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

  /* Navigation */
  nav ul {
    background: #005f73;
    padding: 10px;
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a.active {
    font-weight: bold;
    color: #ee9b00;
}

.booking h1 {
    color: #005f73;
}

.booking form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.booking label {
    text-align: left;
    font-weight: bold;
}

.booking input,
.booking select {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.booking .btn {
    padding: 10px;
    background: #ca6702;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.booking .btn:hover {
    background: #ee9b00;
}

